
body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: rgb(180, 50, 11);
}

h2 {
	font-size: 56px;
}


.hero {
	padding: 250px 0;
	margin-top: 30px;
	margin-bottom: 30px;
  color: #ffffff;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("https://gtresd.github.io/forest.jpg");
  background-size: cover;
}



p {
  font-size: 1rem
}

.hero a {
	color: #cd62ffe5;
	font-size: 1.25em;
	text-decoration: none;
}


#footer {
  font-size: 1rem;
}
